<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get" action="/blog/typeOfBlog">
<select name="blogTypes" >
    <option th:each="blogType, iterStats : ${blogTypes}" th:value="${blogType.id}" th:text="${blogType.name}">
    </option>
</select>
    <button type="submit">Tìm</button>
    </form>
<a href="/blog/add">Thêm mới</a>
<div th:if="${message!=null}" th:text="${message}"></div>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Tên</th>
        <th>Ngày</th>
        <th>Tác giả</th>
        <th>Loại blog</th>
        <th colspan="3"></th>
    </tr>
    <tr th:each="blog, iterStats : ${list}">
        <td th:text="${blog.id}"></td>
        <td th:text="${blog.name}"></td>
        <td th:text="${blog.date}"></td>
        <td th:text="${blog.author}"></td>
        <td th:text="${blog.blogType.name}"></td>
        <td><a th:href="@{/blog/delete(id=${blog.id})}">Xóa</a></td>
        <td><a th:href="@{/blog/edit(id=${blog.id})}">Sửa</a></td>
        <td><a th:href="@{/blog/detail(id=${blog.id})}">Xem chi tiết</a></td>
    </tr>
</table>
<!--<div class="d-flex">-->
<!--    <a th:if="${list.hasPrevious()}"-->
<!--       th:href="@{/blog(page=${list.number - 1})}">Trang trước</a>-->
<!--    <a th:if="${list.hasNext()}"-->
<!--       th:href="@{/blog(page=${list.number + 1})}">Trang sau</a>-->
<!--</div>-->
</body>
</html>