<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:if="${msg}" th:text="${msg}"></p>
<table>
    <tr>
        <td>Tên sách</td>
        <td>Xem chi tiết</td>
    </tr>
    <tr th:each="book, iterStats : ${list}">
        <td th:text="${book.name}"></td>
        <td>
            <form action="/book/detail" method="get"><input th:name="id" th:value="${book.id}" hidden>
                <button type="submit">Xem chi tiết</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>